#head {
    background-color: grey;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: inherit;
    text-align: center;
    padding: 1rem;
}
.btn {
        background: #2196F3;
        color: white;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
      }

      .btn:hover {
        background: #0b7dda;
      }
      
#history {
    overflow:scroll;
    
}
#Next {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: inherit;
  background: limegreen;
  text-align: center;
}
#five {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: cornsilk;
  border: grey;
}
.row {
  padding: 1em;
  background-color: grey;
}
